
.containerDashboard{
    width: 100%;
    height: 100vh;
    
    display: felx;
    justify-content: center;
    align-items: center;
    background-image: url("public/schoolImage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
}

.containerDashboard p{
    text-align: center;
    color: white;
    font-size: 40px;
    text-shadow: 1px 3px 3px rgb(38, 40, 41);
    
}